<div>
    <h2>Angular 17</h2>
    <h3>
        Angular is a web framework that empowers developers to build fast, reliable applications.
    </h3>
    <h3>
        Maintained by a dedicated team at Google, Angular provides a broad suite of tools, APIs, and libraries to
        simplify and streamline your development workflow.
    </h3>
    <h3>
        Angular gives you a solid platform on which to build fast,
        reliable applications that scale with both the size of your team and the size of your codebase.
    </h3>
    <h3>
        Global css can be written on style.css directly without any imports.
    </h3>
    <h3>
        Decorators:
        <ol>
            <li>if, elseif, else</li>
            <li>switch, case, default</li>
            <li>defer</li>
            <li>for</li>
            <li>SSR</li>
        </ol>
    </h3>
</div>